[submodule "react_shopping_cart"]
	path = react_shopping_cart
	url = git@github.com:Huy1996/react_shopping_cart.git
[submodule "shopping-cart-api"]
	path = shopping-cart-api
	url = git@github.com:Huy1996/shopping-cart-api.git
